<footer class="botnav">
    <div class="smallTitle2" style="float: left;">WEBSITE PROGRAMMED BY JOSH NEGREANU CIRCA 2022. CODE IS ON GITHUB. LINK IS ABOVE.</div>
    <a class="smallTitle3" style="text-transform: lowercase; float: right;" href="mailto:negreanj@oregonstate.edu">negreanj@oregonstate.edu.</a>
</footer>