<div class="topnav">
    <a> </a>
    <a href="http://www.joshnegreanu.com">Home</a>
    <a href="https://github.com/JoshNegreanu" target="_blank">Github</a>
    <a href="https://www.linkedin.com/in/josh-negreanu-54b901234/" target="_blank">LinkedIn</a>
    <a href="https://open.spotify.com/artist/6RCTWmm3uYgXS0xI6uHPK2" target="_blank">Spotify</a>
    <a href="https://music.apple.com/us/artist/josh-negreanu/1604393495" target="_blank">Apple Music</a>
    <a style="float: right"> </a>
    <a href="https://medium.com/@josh-negreanu/i-knew-nothing-about-architecture-heres-how-i-designed-a-house-1784178c2268" style="float: right">Architecture</a>
    <a href="https://josh-negreanu.medium.com/dd1e92ea2ac2" style="float: right">Modeling</a>
    <a href="https://linktr.ee/joshnegreanu" style="float: right">Linktree</a>
    <a href="http://instagram.com/josh.negreanu" target="_blank" style="float: right">Instagram</a>
</div>