<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
		<title>josh negreanu / home</title>
		
		<link rel="shortcut icon" href="images/favicon.ico">
		
		<link rel="stylesheet" href="https://use.typekit.net/vzf7owq.css">
		<link rel="stylesheet" href="https://use.typekit.net/vzf7owq.css">
		
		<link rel="stylesheet" href="/style.css" media="screen">

        <link rel="icon" href="/images/favicon.ico">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function(){
                $(window).scroll(function(){
                    $('.smallCenteredTitle').css("opacity", 1- $(window).scrollTop() / 75);
                })
            })
        </script>
	</head>

	<body>

        {{> navigation_bar}}

        {{{body}}}

        {{>footer_bar}}
        
	</body>
</html>