<div class="breaker"></div>
    <div class="smallBreaker"></div>

    <div class="smallCenteredTitle" style="font-weight:bold">hi. my name is josh</div>
    <div class="smallCenteredTitle" style="color: gray">You can scroll down to find out more info about me.</div>

    <div class="smallBreaker"></div>
    <div class="smallBreaker"></div>

    <img src="images/me.jpg" class="center" alt="me">

    <div class="breaker"></div>

    <div class="smallTitle">technical background</div>
    <div class="aboutText">     Josh Negreanu is a third year Honors Computer Science Student studying at Oregon State University. His interests in the field range from computational algorithms to web design to artificial intelligence and neural networks.
                                More information regarding Josh's academic and software projects can be accessed via the computer science page on this website linked above.
    </div>
    <div class="aboutText">     He is currently working as an Undergraduate Learning Assistant for the OSU Data Structures class and will begin his Honors thesis in the very near future.
    </div>
    
    <div class="breaker"></div>
    <div class="breaker"></div>
    <div class="breaker"></div>
    <div class="smallBreaker"></div>
    <div class="smallBreaker"></div>

    <img src="images/me2.jpg" class="center" alt="me again">

    <div class="breaker"></div>

    <div class="smallTitle">personal background</div>

    <div class="aboutText">
                                Beyond his major, Josh has also found expression through music, architecture, and poetry. All artistic endeavors can be accessed via the navigation bar. 
                                When he was young, Josh learned to play the piano. During college, he decided to learn guitar from scratch. He has since been producing and mixing music on his own time. 
                                <br>
                                <br>
                                He is also a second degree Black Belt in TaeKwonDo, a Korean martial arts.
    </div>
    <div class="aboutText">     During middle and high school, he ran track, specializing in sprints and jumping. He went to state for the 4x400 relay.
                                Having lived most of his life in Oregon, he is often inspired by the natural beauty around him. And this can be found in his creative work. 
                                With so many trails near him, he loves to go out and hike, mountain bike, packpack, kayak, paddleboard, and snowboard with his close friends and family. 
    </div>

    <div class="breaker"></div>
    <div class="breaker"></div>
    <div class="breaker"></div>
    <div class="breaker"></div>
    <div class="breaker"></div>